@import url('https://fonts.googleapis.com/css?family=Lato&display=swap%27');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap%27');
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(240, 240, 240);
}
#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
#title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background: rgb(205, 239, 255);
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
